
 .slick-slide {
  width: 100%;
  text-align: center;
  line-height: 450px;
  overflow: hidden;
}

 .slick-slide h3 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 35px;
  opacity: none;
  
}
